<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tbl-employee-authentication-heading"
        data-cy="TblEmployeeAuthenticationCreateUpdateHeading"
        jhiTranslate="projectApp.tblEmployeeAuthentication.home.createOrEditLabel"
      >
        Create or edit a Tbl Employee Authentication
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.tblEmployeeAuthentication.employeeId" for="field_employeeId"
            >Employee Id</label
          >
          <input
            type="number"
            class="form-control"
            name="employeeId"
            id="field_employeeId"
            data-cy="employeeId"
            formControlName="employeeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.tblEmployeeAuthentication.rfidId" for="field_rfidId">Rfid Id</label>
          <input type="text" class="form-control" name="rfidId" id="field_rfidId" data-cy="rfidId" formControlName="rfidId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.tblEmployeeAuthentication.fingerprint" for="field_fingerprint"
            >Fingerprint</label
          >
          <textarea
            class="form-control"
            name="fingerprint"
            id="field_fingerprint"
            data-cy="fingerprint"
            formControlName="fingerprint"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.tblEmployeeAuthentication.isActive" for="field_isActive">Is Active</label>
          <input type="number" class="form-control" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
