<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tblUnauthorizedActivity">
      <h2 data-cy="tblUnauthorizedActivityDetailsHeading">
        <span jhiTranslate="projectApp.tblUnauthorizedActivity.detail.title">Tbl Unauthorized Activity</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tblUnauthorizedActivity.id }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.tblUnauthorizedActivity.rfidId">Rfid Id</span></dt>
        <dd>
          <span>{{ tblUnauthorizedActivity.rfidId }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.tblUnauthorizedActivity.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ tblUnauthorizedActivity.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.tblUnauthorizedActivity.readingTime">Reading Time</span></dt>
        <dd>
          <span>{{ tblUnauthorizedActivity.readingTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.tblUnauthorizedActivity.attempt">Attempt</span></dt>
        <dd>
          <span>{{ tblUnauthorizedActivity.attempt }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.tblUnauthorizedActivity.fingerprint">Fingerprint</span></dt>
        <dd>
          <span>{{ tblUnauthorizedActivity.fingerprint }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tbl-unauthorized-activity', tblUnauthorizedActivity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
